@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gdzie i z kim?</h1>
    @Html.ActionLink("Wyszukaj miejsce", "About", "Home")
    <br />
    @Html.ActionLink("Dodaj miejsce", "Create", "Lokalizacjas")
</div>