@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gdzie i z kim?</h1>
    @Html.ActionLink("Mapa ciekawych miejsc", "Mapa", "Home")
    <br />
    @Html.ActionLink("Dodaj miejsce", "Create", "Lok")
</div>