@model IEnumerable<GdzieIzKim.Models.Lokalizacja>

@{
    ViewBag.Title = "";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 800px;
        }
    </style>
</head>

<body>
    <h2>Mapa ciekawych miejsc w Twojej okolicy</h2>

    <br /> <br />

    <div id="map"></div>
    <script>

        function initMap() {
            var myLatLng = { lat: 0, lng: 17.921297600000003 };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: { lat: 50.6687500, lng: 17.8796660},
                map: map,
                title: 'Dom'
            });

            var marker = new google.maps.Marker({
                position: { lat: 50.6823104, lng: 17.8778236},
                map: map,
                title: 'Plac zabaw'
            });

            var marker = new google.maps.Marker({
                position: { lat: 50.6703750, lng: 17.9261797},
                map: map,
                title: 'Kino'
            });

            var marker = new google.maps.Marker({
                position: { lat: 50.6517462, lng: 17.9045444},
                map: map,
                title: 'Basen Wodna Nuta'
            });

            @*@foreach(var item in Model)
                {
                    var marker = new google.maps.Marker({
                    position: { lat: @Html.DisplayFor(modelItem => item.SzerokoscLoc), lng:  @Html.DisplayFor(modelItem => item.DlugoscLoc)},
                    map: map,
                    title: 'Hello World!'
                        });
            }*@

            var infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Jesteś tutaj.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: Serwis Geolocation przestał działać.' :
                'Error: Twoja przeglądarka nie obsługuje geolokalizacji.');
            infoWindow.open(map);
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsvXhEPlkCvqXapHw_En7QwyOML_Wvffc&callback=initMap">
    </script>
</body>
</html>